<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-inner">
    <% ranking_posts.each_with_index do |post, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <%= link_to post_path(post), class: "post_show" do %>
          <%= image_tag post.images[0].url, size: '250x250' %>
          <h2><%= post.title %></h2>
          <h5><%= index+1 %>位</h5>
        <% end %>
        <div class="user">
          <%= image_tag post.user.avatar.url, class: "rounded-circle", size: '50x50' %>
          <%= post.user.name %>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>