<h1>投稿編集</h1>
<%= form_with model: @post do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :body %>
  <%= form.text_area :body %>

  <%= form.label :images %>
  <%= form.file_field :images, multiple: true %>
  <%= form.hidden_field :images_cache %>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <% @post.images.each_with_index do |image, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= image_tag image.url, class: "d-block w-100" %>
            </div>
          <% end %>
        </div>
    </div>
  </div>

  <%= form.submit t('.push') %>
<% end %>