<div class="container">
  <div class="row w-100 justify-content-center">
    <h1 class= "text-center p-3 m-3 posts_title">ランキング</h1>
    <%= render 'posts/ranking', ranking_posts: @ranking_posts %>
      <h1 class= "text-center p-3 m-3 posts_title">投稿一覧</h1>
      <% @posts.each do |post| %>
        <div class="col-xs-12 col-sm-4 col-md-3 col-sm-4  border border-info text-center m-2">
          <%= link_to post_path(post), class: "post_show" do %>
            <%= image_tag post.images[0].url, size: '200x200' %>
            <div class="title">
              <%= post.title %>
            </div>
          <% end %>
          <div id= "like_post-<%= post.id %>">
            <%= render 'like_posts/like_button', post: post %>
          </div>
          <div class="user">
            <%= image_tag post.user.avatar.url, class: "rounded-circle", size: '50x50' %>
            <%= post.user.name %>
          </div>
        </div>
      <% end %>
  </div>
</div>
<%= paginate @posts %>