<div class="container">
  <div class="posts_new"%>
    <h1 class="text-center p-3 m-3">投稿作成</h1>
    <%= form_with model: @post do |form| %>
      <%= render 'shared/error_messages', object: form.object %>
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    
      <%= form.label :body, class: "form-label" %>
      <%= form.text_area :body, class: "form-control" %>
    
      <%= form.label :images, class: "form-label" %>
      <%= form.file_field :images, multiple: true, class: "form-control" %>
      <%= form.hidden_field :images_cache %>
    
      <%= form.submit "投稿する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>