<!DOCTYPE html>
<html>
  <head>
    <title>ぶさかわフォト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= show_meta_tags %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NM7Y5YZC0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-2NM7Y5YZC0');
    </script>
  </head>

  <body>
    <div class= "header" %>
      <%= check_login %>
    </div>
    <%= render 'shared/flash' %>
    <%= yield %>
    <footer class="footer">
      <div class="d-flex justify-content-around text-content">
        <%= link_to 'お問い合わせ', "https://docs.google.com/forms/d/e/1FAIpQLSdAwrKiCND0vdgwYoHZP1mF6iW_V2KjL5WMppVK52pwpW2DIA/viewform", class: "fotter_link" %>
        <%= link_to '利用規約', terms_path, class: "fotter_link" %>
        <%= link_to 'プライバシーポリシー', policy_path, class: "fotter_link" %>
      </div>
    </footer>
  </body>
</html>
