<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= yield %>
    <div class= "footer">
      <%= link_to 'お問い合わせ', inquiry_path %>
      <%= link_to '利用規約', terms_path %>
      <%= link_to 'プライバシーポリシー', policy_path %>
    </div>
  </body>
</html>
